html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
}

#navbar {
    box-shadow: 0px 1px 2px #dedede;
    font-size: 18px;
}

#navbarCollapse {
    margin-left: 20px;
}

.navbar-brand {
    margin-left: 2px;
}

.headerDivider {
    border-left: 1px solid #d0d0d0b6;
    height: 35px;
    position: absolute;
    left: 60px;
    top: 10px;
}



/*
 * Sidebar
 */

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 40px;
    padding-top: 80px;
    box-shadow: inset -1px 0 50px rgba(0, 0, 0, .1);
}

#navigation {
    font-size: 30px;
}

#videos {
    overflow: auto;
}

#video-filters {
    width: 100%;
}

#video-carousel {
    overflow: auto;
}

.poster {
    margin-top: 12px;
    width: 170px;
}

#content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding: 0;
}
