#navigation {
    height: inherit;
}

#videos {
}

#video-filters {
}

#video-browse {
}

/* Invisible scrollbar */
#video-browse::-webkit-scrollbar {
    width: 0 !important;
}

#menu {
    font-family: 'Open Sans', sans-serif;;
}

.title {
    font-size: 35px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.poster {
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}

.menu-item {
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding-left: 25px;
}

.menu-item {
    width: 90px;
    color: rgba(0,0,0,.5);
    margin-top: 10px;
    padding-left: 10px;
}

.menu-item:hover {
    cursor: pointer;
    color: rgba(0,0,0,.7);;
}

.selected {
    border-left: 2px solid var(--main-light);
    color: black;
}

.selected:hover {
    color: black;
}